<mat-toolbar color="primary">
  <span>
    <a routerLink="/"><span translate>APP_NAME</span></a>
  </span>

  <span class="spacer"></span>
  <span class="mat-body-1">{{'totalCustomers'|translate}}</span>
  <mat-icon [matBadge]="totalCustomers" matBadgeColor="warn">notification_important</mat-icon>

  <ul>
    <li>
      <a mat-button routerLink="/createCustomer" routerLinkActive="mat-accent">{{'createCustomer'|translate}}</a>
    </li>
    <li>
      <a mat-button routerLink="/listCustomer" routerLinkActive="mat-accent">{{'listCustomer'|translate}}</a>
    </li>
 <!--
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Post</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/auth/login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/auth/signup" routerLinkActive="mat-accent">Signup</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button (click)="onLogout()" mat-button>Logout</button>
    </li>
 -->
  </ul>
  <button [matMenuTriggerFor]="languageMenu" mat-icon-button>
    <mat-icon>language</mat-icon>
  </button>
  <mat-menu #languageMenu="matMenu">
    <button (click)="setLanguage(language)" *ngFor="let language of languages" mat-menu-item>
      {{language}}
    </button>
  </mat-menu>
</mat-toolbar>
