<mat-toolbar>
  <span>{{customerService.form.controls['id'].value ? ('modifyCustomer'|translate) : ('newCustomer'|translate) }}</span>
  <span class="fill-remaining-space"></span>
  <button (click)="onClose()" class="btn-dialog-close" mat-stroked-button tabIndex="-1">
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>

<form (submit)="onSaveCustomer()" [formGroup]="customerService.form" class="normal-form">

  <div fxLayout="column">
    <input formControlName="id" type="hidden">

    <div fxLayout="row" fxLayoutGap="20px">
      <mat-form-field>
        <input formControlName="firstName" matInput placeholder="{{'firstName'|translate}}">
        <mat-error>This field is mandatory.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input formControlName="lastName" matInput placeholder="{{'lastName'|translate}}">
        <mat-error>This field is mandatory.</mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutGap="20px">
      <mat-form-field>
        <mat-select placeholder="{{'gender'|translate}}" formControlName="gender">
          <mat-option value="male">
            {{'male'|translate}}
          </mat-option>
          <mat-option value="female">
            {{'female'|translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>

        <input matInput [matDatepicker]="myDatepicker"
               formControlName="dob" placeholder="{{'dateOfBirth'|translate}}">

        <mat-datepicker-toggle matSuffix
                               [for]="myDatepicker">

        </mat-datepicker-toggle>

        <mat-datepicker #myDatepicker></mat-datepicker>

      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutGap="20px">
      <mat-form-field>
        <input formControlName="country" matInput placeholder="{{'country'|translate}}">
        <mat-error>This field is mandatory.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input formControlName="maritalStatus" matInput placeholder="{{'maritalStatus'|translate}}">
        <mat-error>This field is mandatory.</mat-error>
      </mat-form-field>

    </div>
    <div fxLayout="row" fxLayoutGap="20px">

      <mat-form-field>
        <input formControlName="street" matInput placeholder="{{'street'|translate}}">
      </mat-form-field>

      <mat-form-field>

        <input formControlName="city" matInput placeholder="{{'city'|translate}}">
      </mat-form-field>
    </div>

    <!--<div fxLayout="row" fxLayoutGap="20px">
      <div formGroupName="contacts">
        <div formArrayName="phone"
             *ngFor="let x of customerService.form['controls'].contacts['controls'].phone['controls']; let i = index;">
          <div [formGroupName]="i">
            <mat-form-field>
              <input matInput formControlName="phone" placeholder="Phone">
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="type" placeholder="Type">
            </mat-form-field>
          </div>
        </div>
        <div formArrayName="email"
             *ngFor="let y of customerService.form['controls'].contacts['controls'].email['controls']; let i = index;">
          <div [formGroupName]="i">
            <mat-form-field>
              <input matInput formControlName="email" placeholder="Email">
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="type" placeholder="Type">
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>-->

    <div fxLayout="row" fxLayoutGap="20px">

      <mat-form-field>
        <input formControlName="primaryPhone" matInput placeholder="{{'primaryPhone'|translate}}">
      </mat-form-field>
      <mat-form-field>
        <input formControlName="primaryEmail" matInput placeholder="{{'primaryEmail'|translate}}">
      </mat-form-field>
    </div>
  </div>
  <div class="button-row">
    <button [disabled]="customerService.form.invalid" color="primary" mat-raised-button type="submit">{{'submit'|translate}}</button>
    <button (click)="onClear()" color="warn" mat-raised-button>{{'clear'|translate}}</button>
    <button (click)="onClose()" color="accent" mat-raised-button>{{'close'|translate}}</button>
  </div>

</form>

